# env required fields
DB_STRING = mongodb+srv://abaidbutt:abaidbutt@cluster0.zxvlg.mongodb.net/laundromat
PORT = 5000

JWT_SECRET = laundromat

# FOR EMAILING SERVICES
EMAIL = bestabaidullahbutt@gmail.com    
PASSWORD = ANSans267@